/* add custom css to library website */

/* menu overlap fix */
.siteHeader .siteWrap {
    margin: 10px auto;
}


/* must stop ugly tables */
table {
  background-color: #fff !important;
}

/* tabbed widget skin change */

/*NOTE updated 2/3/17 to get rid of right and left borders -tlvh*/

	.widget.skin43 .cpTabs>li>a:link,
  .widget.skin43 .cpTabs>li>a:visited {
			background-color: rgba(237,235,230,.6) !important;
			border-bottom: 4px solid #009445 !important;
	}
  .widget.skin43 .cpTabs>li.active>a {
    background-color:#009445 !important;
    border-bottom: 4px solid #009445 !important;
  }
	.widget.skin43 .cpTabs>li {
    border-right: 1px solid #609f7c !important;
    /*border-left: 1px solid #bfbfbf !important;*/
	}
	.widget.skin43 .cpTabs>li:first-child {
		border-left: 0 !important;
	}
	.widget.skin43 .cpTabs>li:last-child {
		border-right: 0 !important;
	}




/* padding for gear icon and other little green button */

.widget.skin57 .widgetHeader {
    padding-top: 0 !important;
}


/* search box and icon - to do: add search icon to cp server */


/* civicplus search */

#widgetPreviewSearch> div> a> img {
    display: none
}


/* sign in show on top of containers */

#structuralContainer5,
#structuralContainer4 {
    z-index: 0;
}

@media only screen and (max-width: 850px) {
    .outer[data-widgetcontainerid="3e6766b0-f943-4bbc-8d2e-90a8886e13d5"],
    .outer[data-widgetcontainerid="b1978137-ec89-4fb4-947e-18005c3eb623"],
    .outer[data-widgetcontainerid="7cd2322c-5e63-4ade-96f8-7dbdf3942694"],
    .outer[data-widgetcontainerid="3ddd1bc9-db03-41b5-b8db-16ca33610164"] {
        z-index: 0;
    }
}

.widget.skin63 .megaMenuItem .widgetTitle:hover,
.widget.skin63 .megaMenuItem .widgetTitle>a:hover {
    text-decoration: underline;
}

.inner .widget.skin58 a:visited {
    color: #fff;
}


/* login to catalog css */

.login-link {
    min-width: 130px;
    z-index: 6;
    display: block;
    position: relative;
    width: 100%;
    max-height: 50px;
    text-align: left;
    right: 0;
    top: 0;
    color: #fff;
    background: #000;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    transition: all .3s ease-in-out;
}

.login-link:hover:before,
.login-link:focus:before,
.login-link:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 2px;
}

.login-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #fff;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#session {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    z-index: 10;
    padding: 10px 12px;
    vertical-align: top;
    white-space: nowrap;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    transition: all .3s ease-in-out;
}

#session.active,
#session:hover {
    color: fff;
}

#session a {
    text-decoration: none;
}

a#signin-link {
    position: relative;
    color: #fff;
    font-weight: 700;
}

#signin-link:after {
    content: "";
    position: absolute;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    height: 0;
    width: 0;
    margin-left: 5px;
    margin-top: 8px;
}

#loginDiv input[type=number]::-webkit-inner-spin-button,
#loginDiv input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#loginPageForm input[type=number] {
    -moz-appearance: textfield;
}

#signin-dropdown {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 160px;
    margin-top: 1px;
    position: absolute;
    right: 0;
    padding: 10px;
    padding-bottom: 0;
    display: none;
    height: auto;
    z-index: 10;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#18475e+2,236077+30,236077+30,004a60+55,236077+85,236077+94 */
    background: #1d6078;
}

#signin-dropdown form {
    cursor: pointer;
    padding: 10px;
    text-align: left;
}

#signin-dropdown .textbox span {
    color: white;
}

#signin-dropdown .textbox input {
    width: 150px;
}

fieldset {
    border: none;
    padding: 0;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p,
form.signin span {
    color: #999;
    font-size: 16px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #fff;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #333;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
}

.remb {
    margin-top: 10px;
}

form.signin .remb {
    text-align: right;
}

#submit_0 {
    border-width: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    margin: 0;
    transition: all .3s ease-in-out;
    background: #000;
}

#submit_0:hover {
    background: #009445;
}

#widgetPreviewSearch> div> a {
    background: url('https://wcm.ent.sirsi.net/custom/web/images/search.png') no-repeat;
    background-size: 20px 20px;
    background-position: 50%;
    width: 42px;
    height: 39px;
    background-color: #1d6078;
    float: right;
    margin: 0 0 3px 3px;
    transition: all .2s ease-in-out;
    border: solid 3px #fff;
}


/* catalog search */

#searchForm {
    display: inline-block;
    background-color: #fff;
}

#searchButton {
    background: url('https://wcm.ent.sirsi.net/custom/web/images/search.png') no-repeat;
    background-size: 20px 20px;
    background-position: 50%;
    width: 42px;
    height: 39px;
    background-color: #1d6078;
    float: right;
    transition: all .2s ease-in-out;
    border: solid 3px #fff;
}

#q {
    width: 80%;
    border: none;
    padding: 6px 5px 6px 20px;
    font-family: Open Sans;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    height: 40px;
}

#q::-webkit-input-placeholder {
    color: #867877;
}

#q::-moz-placeholder {
    color: #867877;
}

#q:-ms-input-placeholder {
    color: #867877;
}

#q:-moz-placeholder {
    color: #867877;
}

#searchButton:hover,
#widgetPreviewSearch> div> a:hover {
    background-color: #009445;
}






/* override search tab color */

.widget.skin56 .cpTabs>li>a:link,
.widget.skin56 .cpTabs>li>a:visited {
    background-color: #dbdbdb !important;
    border-bottom: 4px solid #1d6078 !important;
}

.widget.skin56 .cpTabs>li.active>a {
    background-color: #1d6078 !important;
}




/* tlvh adjusting black bar links to collapse to one line on mobile */

li.widgetItem.contactCollapse {
  width: 27%;
  display: inline-block;
  margin: 0 4% 0 0;
}

/*tlvh styling for alert messages*/

.alertMessageContainer {
  width: 100%;
  margin:auto;
  background-color:#FFD240;
}
.alertMessageL1 {
text-align: center;
line-height: 1.2em;
margin:0;
padding-top:2px;
color:black;
font-weight:normal;
font-size: 1.2em;
}
.alertMessageL2 {
font-size: 1em;
}


/* attempt to stop big top banner snapping into position

@media only screen and (min-width: 1175px) {
#structuralContainer3,#structuralContainer3 .widgetBody.cpGrid.cpGrid3, #structuralContainer3 .widgetBody.cpGrid.cpGrid3 .row, #structuralContainer3 .widgetBody.cpGrid.cpGrid3 .row .col{
max-height:55px;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1174px){
#structuralContainer3,#structuralContainer3 .widgetBody.cpGrid.cpGrid3, #structuralContainer3 .widgetBody.cpGrid.cpGrid3 .row, #structuralContainer3 .widgetBody.cpGrid.cpGrid3 .row .col{
max-height:78px;
    }
}

*/
